*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.main{
   background-color: rgb(224, 209, 191);
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
}
/*incio sección 1 cabecera*/
.cabecera{
    width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ece8d6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
   
}
.cabecera_link{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: #8B4513; /* Color miel/café */
    
}
.cabecera_img{
     width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FFD700; /* Borde dorado */
    padding: 3px; /* Espacio entre la imagen y el borde */
    background-color: white; /* Fondo blanco por si la imagen tiene transparencia */
    box-shadow: 0 4px 15px rgba(255, 215, 0, 0.3); /* Sombra dorada */
    transition: transform 0.3s ease; /* Animación suave */
}
.navegacion{
    display: flex;
    gap: 5px;
}
.navegacion a{
   text-decoration: none;
    color: #4a4a4a;
    padding: 15px 37px;
    border-radius: 25px; /* Botones muy redondeados */
    transition: all 0.3s ease; /* Transición suave */
}

.navegacion a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #333;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navegacion a:hover{
    background-color: #d9e78b;
    color: black;
}
.banner{
    background-image: url(../img/abeja\ reina.jpg);
    background-position: center;
    width: 50%;
    height: calc(100vh - 160px);
    width: 100%;
    height: 400px;
    padding: 10,50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: rgb(46, 44, 44);
    font-size: 80px;
    font-weight: 600;
}
.banner h2{
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: 600;
}
.banner a  {
    text-decoration: none;
    color: rgb(218, 22, 22);
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 50px;
    background-color: #decdab;
    border-radius: 30px;
    margin-top: 100px;
}
.banner a:hover{
    background-color: #dbd517;
    color: rgb(15, 14, 14);
}
/* Fin sección 1 cabecera */

/* Inicio sección 2 */
.section-2{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;

    
}
.bloque_izquierdo{
   width : 70%;
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3px;
    
}
.bloque_izq_tittle{
    color: rgb(6, 1, 1);
    padding: 1px 1px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.importancia{
    width: 100%;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgb(6, 1, 1);
}

.izq_img{
    width : 100%;
    height: 500px;
    display: flex;
    margin: 30px 0;
    
}
.izq_img img{
    object-fit: cover;
    width: 100%;
}
.izq_parrafo{
    
    padding: 4px 0px;
  

}
.bloque_derecho{
    width: 30%;
    background-color:white
    padding: 20px 0;
     display: block;
     flex-direction: column;
     justify-content: start;
     align-items: center;
}
.dere_tittle{
    background-color: #b6b271;
    text-align: center;
}
.dere_noticias{
    background-color: #c4bdb1;
    width: 100%;
    height: 100%;    
}
.noticias_texto h3{
    color: rgb(216, 46, 46);
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}
.parrafo-derecho {
    color: rgb(11, 11, 11);
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
}
.galeria-img{
    display: block;
    width: 100%;
    height: 250px;
    margin: 10px auto;
}
.galeria-img img{
    object-fit: cover;
    width: 100%;
}
.img-galeria{
    display: flex;
    width: 100%;
    height: 250px;
    margin: 5px auto;
}
.dere_novedad{
    background-color: #e7e716;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dere_novedad  h3{
    text-align: center;
    background-color: aqua;
}
.dere_novedad   p{
    text-align: center;
    background-color: #6a6966;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
}
.dere_novedad a{
    text-decoration: none;
    text-align: center;
    background-color: #7bad2a;       
    color: white;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 2px 30px;
    border-radius: 30px;
    margin-top: 20px;
}
.dere_novedad a:hover{
    background-color: #3ba6d8;
    color: black;

    
}
.dere_noticias a{
    background-color: #5d676c;
    color: black;
    width: 150px;
    height: 50;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 2px 30px;
    border-radius: 30px;
    margin-top: 10px;
}
.dere_noticias a:hover{
    background-color: #3bd855;
    color: black;
}
/* Fin sección 2 */

/* Inicio sección 3 */
.section_3{
   background-color: #fcfcf982;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}
.article{
    background-color: rgb(215, 227, 224);
    height: 100%;
    width: 60%;
    padding: 0 5px;
}
.tabla{
    width: 100%;
    height: 100%;
    table-layout: auto;
    background-color: #6a6966;
    border: 2px solid #1a1408;
    border-collapse: collapse;
}
.tabla_titulo h2{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 5px 0;
}
.tabla_titulo h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
}
.tabla_div{
    background-color: #4f3545;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 10px 0;

}
.tabla_titulo{
    background-color: #a2c2a8;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(1, 1, 1);
}
.tabla_titulo h2{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
    color: #0b140c;
}
.tabla_titulo h3{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    color: #0b140c;
}


.fila_encabezado{
    background-color: #a58aad;
    width: auto;
    height: 30px;
}
.fila_dato{
    width: auto;
    height: 30px;
 
}
.fila_dato:nth-child(odd){
    background-color: #7fd675;
}
.fila_dato:nth-child(even){
    background-color: #c9836c;
}
.columna{
    border: 2px solid #1a1408;
    
}
.red_div{
    background-color: #edede9;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.red_div h3{
    color: white(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
}
.rs_img{
    width: 100%;
    height: 60px;
    margin: 10px 0;
    display: flex;
    
}

.rs_img img{
    object-fit: cover;
    height: 100%;
    margin: 15px; 
}

.aside{
    background-color: #d6f3f3;
    width: 40%;
    height: 100%;
    
}
.aside h2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 3px 0;
    text-align: center;
}

.mapa{
    background-color: #d8ebe5;
    width: 100%;
    height: 40%;
}
.mapa iframe{
    width: 100%;
    height: 100%;
   
}
.form_div{
    background-color: #b8c935;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    color: whitesmoke;  
}
.form_div h2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
}
.form_div p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 5px 0;
    text-align: center;
}
.form_div a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 2px 20px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #3bd855;
}
.form_div a:hover{
    background-color: #e5713f;
    color: black;
}
.formulario{
    margin: 10px 0;
    background-color: #d8a43b;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 90%;
    height: 30px;
    margin: 10px 0;
    padding: 0 5px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}
.tex_area{
    width: 90%;
    height: 70px;
    margin: 5px 0;
    padding: 7px;
    border-radius: 10px;
    resize: none;
    
}
.submit{
    width: 60%;
    height: 30px;
    margin: 10px 0;
    padding: 0 5px;
    border-radius: 30px;
    background-color: #1a1d1a;
    color: white;
    font-size: 20px;
}
.submit:hover{
    background-color: #ebd5cc;
    color: black;
}
/*fin sección 3 */

/* Inicio sección 4 */
.section_4{
    background-color: #181d19;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navegacion_footer{
    background-color: #6eaca0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    text-decoration: none;
    color: rgb(112, 38, 38);
   
}

.navegacion_footer a{
    text-decoration: none;
    color: rgb(34, 9, 9);
    font-size: 18px;
    padding: 20px 30px;
    border-radius: 30px;
}
.navegacion_footer :hover   {
    background-color: #d83b75;
    color: black;
}
.footer{
    background-color: #9b988d;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(228, 38, 38);
}
.footer p{
    font-size: 20px;
    padding: 10px 0;
    color: white;
}
.contenedor_s4{
    background-color: #56d467;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.textos_s4{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    color: rgb(12, 10, 10);

}
.textos_s4 h3{
    color: white;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
}
.textos_s4 a{
    text-decoration: none;
    color: rgb(12, 10, 10);
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
}
.textos_s4:nth-child(odd){
    background-color: #dac7a4;
}
.textos_s4:nth-child(even){
    background-color: rgb(162, 143, 114);
}

